<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <span *ngIf="name.errors.required">
        <i>Name is required.</i>
      </span>
    </div>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <span *ngIf="email.errors.required">
        <i>Email is required.</i>
      </span>
      <span *ngIf="email.errors.email">
        <i>Email is not valid.</i>
      </span>
    </div>
  </div>
  <button type="submit" [disabled]="userForm.pristine || userForm.invalid">
    Save
  </button>
</form>

<pre>{{ userForm.value | json }}</pre>
