<div class="columns">
  <div class="column is-half">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th><abbr title="Team Name">Team</abbr></th>
          <th><abbr title="Played">Pld</abbr></th>
          <th><abbr title="Won">W</abbr></th>
          <th><abbr title="Lost">L</abbr></th>
          <th><abbr title="Points">Pts</abbr></th>
          <th>Qualified for Semi Finals</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.team }}</td>
          <td>{{ item.played }}</td>
          <td>{{ item.won }}</td>
          <td>{{ item.lost }}</td>
          <td>{{ item.points }}</td>
          <td
            [ngStyle]="{
              color: item.isQualified
                ? 'hsl(141, 53%, 53%)'
                : 'hsl(348, 100%, 61%)'
            }"
          >
            <b>{{ item.isQualified | yesNo }}</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <pre class="user-pre">{{ structure | json }}</pre>
  </div>
</div>
